version: "3.9"

services:
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - project-net

  backend:
    build: ./backend
    ports:
      - "5000:5000"
    networks:
      - project-net

networks:
  project-net:
